.divider {
  border-bottom: none;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25rem;
}

.heading_1-line {
  height: 1px;
  width: 12px;
  background: var(--color-text-default);
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.heading_2-line {
  height: 1px;
  width: 35px;
  background: var(--color-text-default);
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.heading_3-line {
  height: 1px;
  width: 66px;
  background: var(--color-text-default);
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}

.callout {
  background: rgb(235, 235, 232);
  padding: 12px;
}

.callout-emoji {
  display: inline-block;
  vertical-align: top;
}

.callout-text {
  display: inline-block;
  max-width: calc(100% - 50px);
  margin-left: 10px;
}

.heading_1 {
  font-weight: normal;
}

.heading_2 {
  font-weight: normal;
}

.heading_3 {
  font-weight: normal;
}
