.divider {
  border-bottom: none;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25rem;
}

.list {
  padding-left: 1.25em;
  margin-bottom: 0em;
}

.bold {
  font-weight: bold;
}

.code {
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}
