.divider {
  border-bottom: none;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25rem;
}

.list {
  padding-left: 1.25em;
  margin-bottom: 0em;
}

.bold {
  font-weight: bold;
}

.code {
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.excerpt {
  margin: 10px 0;
}

.date {
  color: var(--color-text-gray);
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.name {
}

.divider {
  width: 60px;
  height: 1px;
  border-top: 1px solid black;
  margin: 20px 0;
}

.top {
  padding: 0 15% 0 0;
}
