.postTitle {
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease-in;
  color: var(--color-text-default);

  line-height: 1.27;
  margin-block-start: 24px;
  font-size: calc(19px + 0.75vw);
  line-height: 1.4;
  font-weight: 700;
  opacity: 1;
  margin: 0.5em 0 1em;
}

.postTitle:hover {
  border-color: var(--color-text-default);
}

.postDate {
  color: var(--color-text-gray);
  margin: 0.5em 0 0.5em;
}

.postExcerpt {
  margin: 0.5em 0 1em;
}

.post {
  margin: 2em 0 3em;
}

.posts {
  margin: 0 auto;
}

.header,
.section {
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.section:last-child {
  border-bottom: 0px solid;
}

.divider {
  width: 60px;
  height: 1px;
  border-top: 1px solid black;
  margin: 20px 0 0
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  gap: 46px;
}

.gridItem {
  flex: 33% 1;
}
