/* Styling for page names */
.notion-header__title {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25;
  min-height: auto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0;
  display: none;
}
.notion-header__content > div {
  margin-bottom: 0px;
}
.notion-header {
  margin-bottom: 0px;
  padding-top: 32px;
}

@media screen and (min-width: 680px) {
  .notion-header {
    padding-top: 80px;
  }
}

/* Adjust line-height and letter-spacing for body copy */
.notion-semantic-string {
  line-height: 1.7;
  letter-spacing: -0.01em;
  font-size: 18px;
}

/* --- Heading styles --- */

/* H1 */
h1.notion-heading,
.notion-page__properties .notion-property__text {
  font-family: psfournier-std, "Nanum Myeongjo", serif;
  font-weight: 200;
  font-size: 1.875rem;
}

h1.notion-heading .notion-semantic-string,
.notion-page__property .notion-property__text .notion-semantic-string {
  font-size: 1.3rem;
  line-height: 1.27;
}

.notion-page__property .notion-property__text .notion-semantic-string {
  margin: 10px auto;
  padding: 0 10%;
  text-align: center;
}


h1.notion-heading .notion-semantic-string,
.notion-page__property:first-child .notion-property__text .notion-semantic-string {
  line-height: 1.27;
  letter-spacing: -0.01em;
  font-size: 1.875rem;
  margin: 0 auto 15px auto;
}
@media screen and (min-width: 50em) {
  h1.notion-heading .notion-semantic-string,
.notion-page__property:first-child .notion-property__text .notion-semantic-string {
    font-size: 2.55rem;
  }
}

/* H2 */
h2.notion-heading {
  font-family: psfournier-std, "Nanum Myeongjo", serif;
  font-weight: 200;
  letter-spacing: -0.01em;
}

/* H3 */
h3.notion-heading {
  font-weight: 500;
  margin-bottom: 0.25em;
}

/* Remove padding */
.notion-heading {
  padding: 0;
}

/* Adjust line height for H2 and H3 */
.notion-heading .notion-semantic-string {
  line-height: 1.3;
}

/* Ensure opacity remains at 1 when a heading is a link */
.notion-heading .notion-semantic-string .link {
  opacity: 1;
}

.notion-text__content {
  padding: 8px 0;
}

/* --- CONTENT STYLING --- */

/* --- Remove bottom page padding and adjust page padding for smaller screens --- */
.super-content {
  padding-bottom: 40px;
}
@media screen and (min-width: 415px) and (max-width: 860px) {
  .super-content,
  .notion-header__content {
    padding-left: 46px;
    padding-right: 46px;
  }
}

/* --- Remove additional spacing on mobile that is created by column layout on desktop --- */
@media screen and (max-width: 680px) {
  .notion-column {
    padding: 0px;
  }
}

/* --- Control heading spacing in column layout --- */
.notion-column > .notion-heading {
  margin-top: 7px;
}

.notion-header__icon-wrapper {
  padding: 2px;
  bottom: 8px;
}

/* --- Adjust quote styling so it can be used as a standfirst --- */
.notion-quote {
  border-left: 0px;
  padding: 0;
  margin: 0.5rem 0 1rem;
}

/* --- Change handling of full width images --- */
.notion-image.page-width > div {
  display: block;
  margin-bottom: 6px;
}

.notion-image.full-width img {
  object-fit: fill;
  height: auto;
}

/* --- Change Image caption alignment --- */
.notion-image.page-width > figcaption,
.notion-image.full-width > figcaption {
  text-align: center;
}

/* --- Photos LISTING --- */

/* Remove header of the gallery table */
.notion-collection__header {
  display: none;
}

/* Stop card from breaking out of layout on screens smaller than 370px */
.notion-collection-gallery {
  display: block;
  border-top: none;
}

@media screen and (min-width: 370px) {
  /* Adjust spacing of gallery grid */
  .notion-collection-gallery {
    display: grid;
    grid-gap: 46px;
    gap: 46px;
    grid-row-gap: 66px;
  }
}

/* Override default card styling */
.notion-collection-card {
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 44px;
  background: transparent;
}
@media screen and (min-width: 370px) {
  .notion-collection-card {
    margin-bottom: 0;
  }
}

.notion-collection-card:hover {
  background: transparent;
}
.notion-collection-card__cover.large,
.notion-collection-card__cover.large > div,
.notion-collection-card__cover.large img,
.notion-collection-card__cover.medium,
.notion-collection-card__cover.medium > div,
.notion-collection-card__cover.medium img {
  height: auto;
  max-height: none;
}
.notion-collection-card__cover.large > div {
  position: relative;
}
.notion-collection-card__cover {
  height: auto;
  min-height: none;
  border-bottom: none;
}
.notion-collection-card__cover img {
  position: relative;
  height: auto;
  width: 100%;
  border-radius: 0;
  object-fit: contain;
  object-position: initial;
  padding-bottom: 0;
}
.notion-collection-card__content {
  padding-bottom: 0;
  padding-left: 0;
  font-size: 1rem;
  overflow: hidden;
}
.notion-collection-card__content.no-title {
  padding-top: 0;
}

/* Hides page title */
.notion-property__title {
  display: none;
}

/* Display text property as a heading */
.notion-collection-card__property .notion-semantic-string {
  display: block;
  margin: 0.6em 0 0.4em;
  font-family: psfournier-std, "Nanum Myeongjo", serif;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: -0.01em;
  white-space: normal;
}

/* Add underline to title on hover of project card */
.notion-collection-card.gallery
  .notion-collection-card__property
  .notion-semantic-string
  span {
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease-in;
}
.notion-collection-card.gallery:hover
  .notion-collection-card__property
  .notion-semantic-string
  span {
  border-bottom: 1px solid var(--color-text-gray);
}

/* Increase spacing between project meta data */
.notion-collection-card__property {
  margin: 3px 0;
}

/* Stop the tags from truncating */
.notion-property__select {
  display: inline;
  white-space: normal;
  overflow: auto;
}

/* Adjust pill styling */
.notion-pill {
  font-size: 1rem;
  border-radius: 0px;
  line-height: 24px;
  margin: 2px 0;
  padding: 0;
  display: inline;
  white-space: normal;
  text-overflow: initial;
}

/* Adds comma before each item */
.notion-pill::before {
  content: ", ";
  white-space: pre;
}

/* Removes comma before first item */
.notion-pill.first::before {
  content: "";
}

/* Make all but the default colour display as a lighter colour */
.pill-default {
  background: none;
}
.pill-gray,
.pill-brown,
.pill-orange,
.pill-yellow,
.pill-green,
.pill-blue,
.pill-purple,
.pill-pink,
.pill-red {
  background: none;
  color: var(--color-text-gray);
}

/* --- PROJECT PAGE --- */

/* Hide cover image from page headers */
.notion-header__cover {
  display: none;
}
.notion-header__content.no-icon.has-cover .notion-header__title-wrapper {
  margin-top: 0;
}
article[id*="photos-"]
  .notion-page__property
  > .property-49775679
  .notion-pill {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.25;
  min-height: auto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0;
}

/* Amend the display of Notion’s page properties to act as header and meta data */

/* Adjust spacing between header text elements */
.notion-page__properties {
  margin: 16px 0 0 0;
}
@media screen and (min-width: 680px) {
  .notion-page__properties {
    margin: 30px 0 60px 0;
  }
}

.notion-property__text .notion-semantic-string {
  margin-bottom: 16px;
}

/* Display as single column */
.notion-page__property {
  grid-template-columns: 1fr;
}

/* Remove default styling of properties */
.notion-page__properties .notion-property {
  border-radius: 0;
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 50em) {
  .notion-page__properties .notion-property {
    font-size: 1rem;
  }
}

/* Hide property name */
.notion-page__property-name {
  display: none;
}

/* Hide divider */
.notion-page__properties .notion-divider {
  display: none;
}

/* - - - - - - - - - - - - - - - - - -

CUSTOMISING YOUR BLOG:

All the styles below are appended with a conditional target, it looks like this [id*="writing"]. What that is doing is looking for the presence of the string ‘writing’ in an id. That id is generated when you give a page a Pretty URL in Super. So long as the listing page and the article pages contain ‘writing’ in the pretty URL everything below will work fine.

If you prefer to use a different term to writing e.g. blog, thoughts, journal then you’ll need to first use that term for your Pretty URLs then find and replace all instances of "writing" with your chosen term. Here’s an example:

Listing view: [id*="writing"] becomes [id*="journal"]
Article view: [id*="writing-"] becomes [id*="journal-"]

 - - - - - - - - - - - - - - - - - - */

/* --- Article listing --- */

/* Style for listing of articles */
.notion-collection-list {
  display: block;
  padding: 0;
  border-top: 0;
}

/* Center aligns list on article listing page */
[id*="writing"] .notion-collection-list {
  margin: 0 auto;
}

/* Set spacing between articles */
.notion-collection-list__item {
  padding: 0;
  margin: 1em 0 3em 0;
  border-radius: 0;
  display: block;
}
@media screen and (min-width: 32em) {
  .notion-collection-list__item {
    margin: 2em 0 3em 0;
  }
  [id*="writing"] .notion-collection-list__item {
    margin-bottom: 5em;
  }
}
.notion-collection-list__item:last-child {
  margin-bottom: 2em;
}

/* Hover styles for listing of articles */
.notion-collection-list__item:hover {
  background-color: transparent;
}
.notion-collection-list__item:hover .property-6f547c5f .notion-semantic-string {
  border-bottom: 1px solid var(--color-text-gray);
}

/* Restyle meta data of each article in the list */
.notion-collection-list__item-property {
  padding: 0;
}
.notion-collection-list__item-property .notion-semantic-string {
  white-space: normal;
}
.notion-collection-list__item-content,
[id*="writing"]
  .notion-collection-list__item-property
  .notion-property__select {
  display: block;
}
.notion-property__title {
  display: block;
}

/* Hides icon */
.notion-property__title .notion-property__title__icon-wrapper {
  display: none;
}

/* Hides page title */
.notion-collection-list__item .notion-property__title .notion-semantic-string {
  display: none;
}

/* Resets font size of date */
.notion-collection-list__item-property
  .notion-property__text
  .notion-semantic-string {
  font-size: 1rem;
  line-height: 1.7;
}

/* Resets font size of date */
.notion-collection-list__item-property .notion-property__date {
  font-size: 1rem;
}

.notion-property.notion-property__date .notion-semantic-string {
  text-align: center;
  margin: 0 auto;
}

/* Resets spacing and padding on date */
.notion-collection-list__item-property
  .notion-property__date
  .notion-semantic-string {
  min-height: auto;
  padding: 0;
}

/* Set colour and size of date */
.notion-collection-list__item-property
  .notion-property__date
  .notion-semantic-string
  .date {
  color: var(--color-text-gray);
  font-size: 0.875rem;
}

/* Styles for title */
.notion-collection-list__item-property .property-6f547c5f {
  margin: 0.5em 0 1em;
}
.notion-collection-list__item-property
  .property-6f547c5f
  .notion-semantic-string {
  font-family: psfournier-std, "Nanum Myeongjo", serif;
  font-weight: 200;
  font-size: 1.875rem;
  letter-spacing: -0.01em;
  line-height: 1.25;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease-in;
}
@media screen and (min-width: 32em) {
  .notion-collection-list__item-property
    .property-6f547c5f
    .notion-semantic-string {
    font-size: 2.111rem;
    line-height: 1.15;
  }
}

/* Uses Notion’s file property to display featured image for article */
.notion-collection-list__item-property .notion-property__file a > div,
.notion-collection-list__item-property .notion-property__file img {
  width: 100%;
  height: auto;
  max-height: none;
  margin-right: 0;
}
.notion-collection-list__item-property .notion-property__file a > div > div,
.notion-collection-list__item-property .notion-property__file img {
  position: relative;
}
.notion-collection-list__item-property .notion-property__file img {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

/* --- Article page --- */

/* Set width of body and center it */
#block-writing, #block-photos,
 [id*="writing-"] .notion-page__properties,
[id*="writing-"] .notion-text,
[id*="writing-"] .notion-heading,
[id*="writing-"] .notion-quote,
[id*="writing-"] .notion-divider,
[id*="writing-"] .notion-collection,
[id*="writing-"] .notion-caption,
[id*="writing-"] .notion-bulleted-list,
[id*="writing-"] .notion-numbered-list {
  width: 100%;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}
.notion-collection-table__cell.title, .notion-collection-table__head-cell.title {
  padding-left: 0px;
}
.notion-collection-table__head-cell {
  text-decoration: underline;
}
.notion-collection-table__head-cell.number {
  text-align: right;
}
[id*="writing-"] .notion-column-list {
  width: 100%;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}
[id*="writing-"] .notion-page__properties {
  margin-bottom: 16px;
}
@media screen and (min-width: 680px) {
  [id*="writing-"] .notion-page__properties {
    margin-bottom: 40px;
  }
}

/* Style date */
[id*="writing-"] .notion-property__date .notion-semantic-string .date {
  color: var(--color-text-gray);
  font-size: 1rem;
}
@media screen and (min-width: 32em) {
  [id*="writing-"] .notion-property__date .notion-semantic-string .date {
    font-size: 0.875rem;
  }
}

/* Style of page title can be found with heading styles */
/* Style body titles */
[id*="writing-"] h2.notion-heading {
  font-family: reason-new, "Work Sans", sans-serif;
  font-weight: 500;
  letter-spacing: 0.015em;
  margin-top: 1.25em;
  margin-bottom: 0.25em;
  text-indent: -0.05em;
}
[id*="writing-"] h3.notion-heading {
  margin-top: 1.75rem;
}

/* Style images */
[id*="writing-"] .notion-image {
  margin-bottom: 1.25em;
}
@media screen and (min-width: 32em) {
  [id*="writing-"] .notion-image {
    margin-bottom: 2em;
  }
}
[id*="writing-"] .notion-image.normal {
  width: 100%;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}
[id*="writing-"] .notion-image.normal img {
  margin: 0 auto 0.5em;
}

/* Center image caption (affects image captions across the site) */
.figcaption {
  text-align: center;
  padding: 6px 0 0;
  color: var(--color-text-gray);
}

/* Fix border colour for captions that contain links */
.figcaption a {
  opacity: 1;
  border-color: var(--color-text-gray);
}

/* Control space between an image and heading */
[id*="writing-"] .notion-image.page-width + h2.notion-heading {
  margin-top: 1em;
}

/* Control space between body text and image */
[id*="writing-"] .notion-text + .notion-image {
  margin-top: 1.25em;
}
@media screen and (min-width: 32em) {
  [id*="writing-"] .notion-text + .notion-image {
    margin-top: 2em;
  }
}

/* Style quotes */
[id*="writing-"] .notion-quote {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.5em;
  border-left: 4px solid #c7cad2;
}

/* Style lists */
.notion-numbered-list,
.notion-bulleted-list {
  padding-left: 1.25em;
  margin-bottom: 1em;
}

/* Style dividers to display as centered ellipsis */
[id*="writing-"] .notion-divider {
  border-bottom: none;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25rem;
}
[id*="writing-"] .notion-divider::before {
  content: "· · ·";
}

/* --- MISC --- */

/* Hide notion toggle - a hack to hide child pages, drag them into a toggle and they'll disappear */
.notion-toggle {
  display: none;
}

/* Add dividing border */
.notion-collection-table__wrapper {
  padding-top: 1em;
  margin-top: 3em;
}

/* Reinstate usual styling of links */
.notion-collection-table td .notion-semantic-string .link {
  opacity: 0.7;
  transition: opacity 0.1s ease-in;
}
.notion-collection-table td .notion-semantic-string .link:hover {
  opacity: 1;
}
/* Don’t truncate content on small screens */
.notion-collection-table__cell .notion-semantic-string {
  white-space: normal;
}
.super-navbar__logo span {
  font-weight: normal;
}

.notion-collection-table__wrapper {
 margin-top: 0px;
}

.notion-collection-table__cell.title>a .notion-semantic-string>span {
  border-bottom: 0px solid;
  pointer-events: none;
}

.notion-collection-table__cell.title>a:hover .notion-semantic-string>span {
  border-bottom: 0px solid;
  pointer-events: none;
}
